name: Go Static Check

on:
  push:
    branches-ignore:
      - "main"
    tags-ignore:
      - "*"
    paths:
      - "**.go"

jobs:
  build:
    name: static-check
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "./go.mod"

      - run: go version

      - run: go fmt .

      - uses: dominikh/staticcheck-action@v1
        with:
          version: "2026.1"
          install-go: false
